<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body id="addressbook">

<roundcube:include file="/includes/taskbar.html" />

<div id="addressGroupBox" class="popupBox">
  <a href="javascript:void(0)" class="button popupClose" onclick="rcs.popup()"><span><roundcube:label name="back" /></span></a>

  <h5><roundcube:label name="groups" /></h5>
	<roundcube:object name="directorylist" id="directorylist" />
	<roundcube:object name="groupslist" id="contactgroupslist" />
</div>

<div id="searchBox" class="popupBox">
  <a href="javascript:void(0)" class="button popupClose" onclick="rcs.popup()"><span><roundcube:label name="back" /></span></a>

  <h5><roundcube:label name="quicksearch" /></h5>
  <roundcube:object name="searchform" id="quicksearchbox" />
  <div id="quickSearchButtons">
    <a href="javascript:void(0)" onclick="rcs.command('search', '', this)"><roundcube:label name="quicksearch" /></a>
    <a href="javascript:void(0)" onclick="rcs.command('reset-search', '', this)"><roundcube:label name="resetsearch" /></a>
	</div>
</div>

<div id="contactBox" class="popupBox">
	<div class="iframebox">
		<roundcube:object name="addressframe" id="contact-frame" style="width:100%; height:100%" frameborder="0" src="/watermark.html" />
	</div>
</div>

<div id="actionBox" class='actionBox'>
  <span class='button addressGroups'><a href="javascript:void(0)" class="actionAddressGroups" onclick="rcs.popup(this, 'addressGroup')"></a></span>
	<span class='button addressSearch'><a href="javascript:void(0)" class="actionSearch" onclick="rcs.popup(this, 'search')"></a></span>
</div>

<div id="pageContents">
	<h5><roundcube:label name="contacts" /></h5>
	<div id="addressListBox">
		<div id="addressList"></div>
		<div id="pagingBox">
			<span class="button firstPage"><roundcube:button command="firstpage" type="link" class="buttonDisabled firstPage" classAct="button firstPage" classSel="button firstPage" title="firstmessages" content=" " /></span>
			<span class="button prevPage"><roundcube:button command="previouspage" type="link" class="buttonDisabled prevPage" classAct="button prevPage" classSel="button prevPage" title="previousmessages" content=" " /></span>
			<span class="button lastPage"><roundcube:button command="lastpage" type="link" class="buttonDisabled lastPage" classAct="button lastPage" classSel="button lastPage" title="lastmessages" content=" " /></span>
			<span class="button nextPage"><roundcube:button command="nextpage" type="link" class="buttonDisabled nextPage" classAct="button nextPage" classSel="button nextPage" title="nextmessages" content=" " /></span>
			<roundcube:object name="recordsCountDisplay" />
		</div>
	</div>
</div>

<div id="addressListBoxTemp">
	<roundcube:object name="addresslist" id="contactsTable" class="records-table" cellspacing="0" summary="Contacts list" noheader="true" />
</div>

</body>
</html>
