<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body id="compose">

<roundcube:include file="/includes/taskbar.html" />

<div id="composeFieldsBox" class="popupBox">
  <a href="javascript:void(0)" class="button popupClose" onclick="rcs.popup()"><span><roundcube:label name="back" /></span></a>

  <h5><roundcube:label name="to" />:</h5>
  <a href="#cc" onclick="rcs.composeShowField('cc')" id="link-cc"><roundcube:label name="addcc" /></a>
  <a href="#bcc" onclick="rcs.composeShowField('bcc')" id="link-bcc"><roundcube:label name="addbcc" /></a>
  <a href="#reply-to" onclick="rcs.composeShowField('replyto')" id="link-replyto"><roundcube:label name="addreplyto" /></a>
  <a href="#followup-to" onclick="rcs.composeShowField('followupto')" id="link-followupto"><roundcube:label name="addfollowupto" /></a>
</div>

<div id="composeAttachBox" class="popupBox">
  <a href="javascript:void(0)" class="button popupClose" onclick="rcs.popup()"><span><roundcube:label name="back" /></span></a>

  <h5><roundcube:label name="attachment" />:</h5>
  <form id="attachmentForm" name="uploadform" method="post" enctype="multipart/form-data" action="./">
    <roundcube:object name="composeAttachmentForm" id="attachment-form" attachmentFieldSize="40" />
  </form>
</div>

<div id="actionBox" class='actionBox'>
  <span class='button composeFields'><a href="javascript:void(0)" class="actionComposeFields" onclick="rcs.popup(this, 'composeFields')"></a></span>
  <span class='button composeSettings'><a href="javascript:void(0)" class="actionComposeSettings" onclick="rcs.popup(this, 'composeSettings')"></a></span>
  <span class='button composeAttach'><a href="javascript:void(0)" class="actionComposeAttach" onclick="rcs.popup(this, 'composeAttach')"></a></span>
  <span class='button composeSave'><a href="javascript:void(0)" class="actionComposeSave" onclick="return rcmail.command('savedraft', '', this, event)"></a></span>
</div>

<form name="form" action="./" method="post" id="compose-content" class="uibox">

<!-- this box must be under form -->
<div id="composeSettingsBox" class="popupBox">
  <a href="javascript:void(0)" class="button popupClose" onclick="rcs.popup()"><span><roundcube:label name="back" /></span></a>

  <h5><roundcube:label name="messageoptions" /></h5>
  <table>
  <tr>
      <td><label for="rcmcomposereceipt"><roundcube:label name="returnreceipt" />:</label></td>
      <td><roundcube:object name="receiptCheckBox" form="form" id="rcmcomposereceipt" /></td>
  </tr><tr>
      <td><label for="rcmcomposedsn"><roundcube:label name="dsn" />:</label></td>
      <td><roundcube:object name="dsnCheckBox" form="form" id="rcmcomposedsn" /></td>
  </tr><tr>
      <td><label for="rcmcomposepriority"><roundcube:label name="priority" />:</label></td>
      <td><roundcube:object name="prioritySelector" form="form" id="rcmcomposepriority" /></td>
  </tr><tr>
      <td><label><roundcube:label name="savesentmessagein" />:</label></td>
      <td><roundcube:object name="storetarget" maxlength="30" /></td>
  </tr>
  </table>
</div>

<div id="pageContents">

<div id="composeHeaders">
    <table>
    <tr>
        <td class="title"><label for="_from"><roundcube:label name="from" /></label></td>
        <td class="editfield formlinks">
            <roundcube:object name="composeHeaders" part="from" form="form" id="_from" tabindex="1" />
        </td>
    </tr>
    <tr>
        <td class="title top"><label for="_to"><roundcube:label name="to" /></label></td>
        <td class="editfield"><roundcube:object name="composeHeaders" part="to" form="form" id="_to" cols="70" rows="2" tabindex="2" /></td>
    </tr>
    <tr id="compose-cc" class="composeHiddenField">
        <td class="title top">
            <a href="#cc" onclick="rcs.composeHideField('cc');"><img src="/images/icons/minus.gif" alt="" title="<roundcube:label name='delete' />" /></a>
            <label for="_cc"><roundcube:label name="cc" /></label>
        </td>
        <td class="editfield"><roundcube:object name="composeHeaders" part="cc" form="form" id="_cc" cols="70" rows="2" tabindex="3" /></td>
    </tr>
    <tr id="compose-bcc" class="composeHiddenField">
        <td class="title top">
            <a href="#bcc" onclick="rcs.composeHideField('bcc');"><img src="/images/icons/minus.gif" alt="" title="<roundcube:label name='delete' />" /></a>
            <label for="_bcc"><roundcube:label name="bcc" /></label>
        </td>
        <td colspan="2" class="editfield"><roundcube:object name="composeHeaders" part="bcc" form="form" id="_bcc" cols="70" rows="2" tabindex="4" /></td>
    </tr>
    <tr id="compose-replyto" class="composeHiddenField">
        <td class="title top">
            <a href="#replyto" onclick="rcs.composeHideField('replyto');"><img src="/images/icons/minus.gif" alt="" title="<roundcube:label name='delete' />" /></a>
            <label for="_replyto"><roundcube:label name="replyto" /></label>
        </td>
        <td class="editfield"><roundcube:object name="composeHeaders" part="replyto" form="form" id="_replyto" size="70" tabindex="5" /></td>
    </tr>
    <tr id="compose-followupto" class="composeHiddenField">
        <td class="title top">
            <a href="#followupto" onclick="rcs.composeHideField('followupto')"><img src="/images/icons/minus.gif" alt="" title="<roundcube:label name='delete' />" /></a>
            <label for="_followupto"><roundcube:label name="followupto" /></label>
        </td>
        <td class="editfield"><roundcube:object name="composeHeaders" part="followupto" form="form" id="_followupto" size="70" tabindex="7" /></td>
    </tr>
    <tr>
    <tr>
        <td class="title"><label for="compose-subject"><roundcube:label name="subject" /></label></td>
        <td class="editfield"><roundcube:object name="composeSubject" id="compose-subject" form="form" tabindex="8" /></td>
    </tr>
    <tr>
        <td class="title"><roundcube:label name="attachments" /></td>
        <td class="editfield"><roundcube:object name="composeAttachmentList" deleteIcon="/images/blank.gif" /></td>
    </tr>
    </table>
</div>

<div id="composeBody">
  <roundcube:object name="composeBody" form="form" cols="70" rows="20" tabindex="9" />
</div>

<div class="buttonBox">
  <roundcube:button type="link" command="send" label="sendmessage" tabindex="10" />
</div>

</div>
</form>


<div id="mailview-bottom" class="uibox">
	<roundcube:object name="message" id="message" class="statusbar" />
</div>







</body>
</html>
