<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<meta name="Robots" content="noindex,nofollow" />
<roundcube:include file="/includes/links.html" />
</head>
<body id="login">

<roundcube:object name="message" id="message" />

<div id="loginFrame">
<div id="loginBox">
  <div id="loginTitle"><roundcube:label name="welcome" /></div>

  <form name="form" action="./" method="post">
    <roundcube:object name="loginform" form="form" />
    <div id="loginButton"><input type="submit" class="button mainaction" value="<roundcube:label name='login' />" /></div>
    <roundcube:if condition="config:support_url" />
      <div id='loginGetSupport'><a href="<roundcube:var name='config:support_url' />" target="_blank" class="support-link"><roundcube:label name="support" /></a></div>
    <roundcube:endif />
  </form>
</div>
</div>

<div id="credits">
  <a href="http://roundcube.net">Roundcube.Net</a>
</div>

</body>
</html>
