{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Select country" %}</h1>
      <p>{% trans "Choose over which country you want internet access." %}</p>
      <br />

<form method="post" class="form-horizontal">
{% csrf_token %}
    <ul id="countrysort">
{% for c in countries %}
    {% if c.countrycode == selected_country %}
        {% if c.active %}
            <li>
                <button name="country-active" type="text" class="btn btn-success" value="{{ c.countrycode }}">{% trans "Active" %}</button>
                <button id="{{ c.countrycode }}" name="country" type="text" class="btn btn-warning" value="{{ c.countrycode }}">{% trans c.countryname %}</button>
            </li>
        {% else %}
            <li>
                <button name="country-inactive" type="text" class="btn btn-inverse" value="{{ c.countrycode }}">{% trans "Inactive" %}</button>
                <button id="{{ c.countrycode }}" name="country" type="text" class="btn btn-warning" value="{{ c.countrycode }}">{% trans c.countryname %}</button>
            </li>
        {% endif %}
    {% else %}
        {% if c.active %}
            <li>
                <button name="country-active" type="text" class="btn btn-success" value="{{ c.countrycode }}">{% trans "Active" %}</button>
                <button id="{{ c.countrycode }}" name="country" type="text" class="btn btn-default" value="{{ c.countrycode }}">{% trans c.countryname %}</button>
            </li>
        {% else %}
            <li>
                <button name="country-inactive" type="text" class="btn btn-inverse" value="{{ c.countrycode }}">{% trans "Inactive" %}</button>
                <button id="{{ c.countrycode }}" name="country" type="text" class="btn btn-default" value="{{ c.countrycode }}">{% trans c.countryname %}</button>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}
    </ul>
</form>

      <p>{% trans "Note: It may take some time after a country switch until all contacts are reachable again!" %}</p>
      <p>{% trans "If a server goes down, the next available server is automatically selected." %}</p>

    </div> <!-- /container -->
{% endblock %}
