{% extends "base.html" %} {% load apptags %}

{% block main %}
    <div class="container">

      <h1>Land auswählen</h1>
      <p>Über welches Land willst Du surfen?</p>
      <br />

<form method="post" class="form-horizontal">
{% csrf_token %}
    <table class="table table-hover table-bordered" style="width: auto;">
        <tbody>
{% for countrycode, country in countries.items %}
        <tr>
    {% if countrycode == selected_country %}
            <td><button id="{{ countrycode }}" name="country" type="text" class="btn btn-warning" value="{{ countrycode }}">{{ country }}</button></td>
    {% else %}
            <td><button id="{{ countrycode }}" name="country" type="text" class="btn btn-default" value="{{ countrycode }}">{{ country }}</button></td>
    {% endif %}
        </tr>
{% endfor %}
        </tbody>
    </table>
</form>

    </div> <!-- /container -->
{% endblock %}
