{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Select country" %}</h1>
      <p>{% trans "Choose over which country you want internet access." %}</p>
      <br />

<form method="post" class="form-horizontal">
{% csrf_token %}
    <ul id="countrysort">
{% for countrycode, country in countries.items %}
    {% if countrycode == selected_country %}
        {% if countrycode == country_active %}
            <li><button name="country-active" type="text" class="btn btn-success">Aktiv</button>&nbsp;<button id="{{ countrycode }}" name="country" type="text" class="btn btn-warning" value="{{ countrycode }}">{{ country }}</button></li>
        {% else %}
            <li><button name="country" type="text" class="btn btn-inverse">Inaktiv</button>&nbsp;<button id="{{ countrycode }}" name="country" type="text" class="btn btn-warning" value="{{ countrycode }}">{{ country }}</button></li>
        {% endif %}
    {% else %}
        {% if countrycode == country_active %}
            <li><button name="country-active" type="text" class="btn btn-success">Aktiv</button>&nbsp;<button id="{{ countrycode }}" name="country" type="text" class="btn btn-default" value="{{ countrycode }}">{{ country }}</button></li>
        {% else %}
            <li><button name="country" type="text" class="btn btn-inverse">Inaktiv</button>&nbsp;<button id="{{ countrycode }}" name="country" type="text" class="btn btn-default" value="{{ countrycode }}">{{ country }}</button></li>
        {% endif %}
    {% endif %}
{% endfor %}
    </ul>
</form>

      <p>{% trans "Note: It may take some time after a country switch until all contacts are reachable again!" %}</p>
      <p>{% trans "If a server goes down, the next available server is automatically selected." %}</p>

    </div> <!-- /container -->
{% endblock %}
