{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Subscription" %}</h1>

      <p>{% trans "Renew your subscription." %}</p>

<form action="" method="post" class="form-horizontal">
{% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend>Network access</legend>

<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="currency">Currency</label>
  <div class="controls">
    <label class="radio inline" for="currency-0">
      <input type="radio" name="currency" id="currency-0" value="CHF" checked="checked">
      CHF
    </label>
    <label class="radio inline" for="currency-1">
      <input type="radio" name="currency" id="currency-1" value="EUR">
      EUR
    </label>
    <label class="radio inline" for="currency-2">
      <input type="radio" name="currency" id="currency-2" value="USD">
      USD
    </label>
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="subscription">Subscription</label>
  <div class="controls">
    <select id="subscription" name="subscription" class="input-xlarge">
      <option>1 year</option>
      <option>5 years</option>
      <option>Lifetime</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">{% trans "Show invoice" %}</button>
  </div>
</div>

</fieldset>
</form>

      <p>{% trans "Please send" %} <strong>CHF 120.-</strong> {% trans "to the following account" %}:</p>

<pre>Valiant Bank AG
Gerliswilstrasse 43
Postfach
6021 Emmenbrücke
Schweiz

{% trans "Account" %}: Verein Enigmabox, Emmenbrücke
<strong>{% trans "Payment reference" %}: abo-{{ hostid }}</strong>

CHF-Konto: 50.295.383.368.7
IBAN: CH61 0630 0502 9538 3368 7

EUR-Konto: 50.295.383.190.0
IBAN: CH04 0630 0502 9538 3190 0

SWIFT/BIC: VABECH22XXX</pre>

<p>{% trans "As soon as we've received the money, your subscription will be renewed. This can take up to two business days." %}</p>

    </div> <!-- /container -->
{% endblock %}
