{% load apptags %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>Box Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/media/css/box.css" rel="stylesheet" media="screen">
    <link href="/media/css/ansi2html.css" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" title="Home" href="{% url app.views.home %}">Enigmabox</a>
{% if_config_changed object None %}
      <a href="{% url app.views.apply_changes %}" class="btn btn-danger">Änderungen anwenden</a>
{% endif_config_changed %}
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <!--<li><a title="Deine IPv6-Adresse" href="">{% display_ip %}</a></li>-->
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
                <ul class="dropdown-menu">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
                    <li><a href="/i18n/setlang/{{ language.code }}/">{{ language.name_local }}</a></li>
{% endfor %}
                </ul>
            </li>
        </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <ul class="nav nav-list">
                <li class=""><a href="/"><i class="icon-home"></i> Willkommen</a></li>
                <li class="nav-header">{% trans "System" %}</li>
                <li class="{% active request 'addressbook' %}"><a href="{% url app.views.addressbook %}"><i class="icon-user"></i> Adressbuch</a></li>
                <li class="{% active request 'passwords' %}"><a href="{% url app.views.passwords %}"><i class="icon-lock"></i> Passwörter</a></li>
                <li class="nav-header">{% trans "Internet" %}</li>
                <li class="{% active request 'countryselect' %}"><a href="{% url app.views.countryselect %}"><i class="icon-globe"></i> Land auswählen</a></li>
                <li class="nav-header">{% trans "Network" %}</li>
                <li class="{% active request 'peerings' %}"><a href="{% url app.views.peerings %}"><i class="icon-random"></i> Peerings</a></li>
            </ul>
        </div>
        <div class="span10">

        <!--Body content-->
        {% block main %}[main]{% endblock %}

        <p class="muted credit text-right">Enigmasuite Version 3 (12. November 2013)</p>
        </div>
    </div>
</div>

    <script src="/media/js/jquery-2.0.2.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/box.js"></script>
  </body>
</html>
