{% extends "base.html" %}
{% load i18n %}

{% block main %}

    <div class="container">

      <h1>{% trans "Welcome" %}.</h1>
{% if hostid %}
      <p>{% trans "Your hostid is" %} <strong>{{ hostid }}</strong>. {% trans "Network access valid until" %} {{ internet_access }}.</p>
{% endif %}
      <p>{% trans "Manage your contacts in the" %} <a href="{% url app.views.addressbook %}">{% trans "Addressbook" %}</a>.</p>

      <hr />

      <strong>{% trans "Connection info" %} {% trans "SIP phone" %}:</strong><br />
      {% trans "Username" %}: <strong>100</strong><br />
      {% trans "Password" %}: <strong>100</strong><br />
      {% trans "Domain/Server" %}: <strong>box</strong><br />
      <br />

      <strong>{% trans "Connection info" %} {% trans "SSH access" %}:</strong><br />
      {% trans "Username" %}: <strong>root</strong><br />
      {% trans "Password" %}: <strong>d</strong><br />
      {% trans "Server" %}: <strong>box</strong><br />
      <br />

    </div> <!-- /container -->
{% endblock %}
