{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}

    <div class="container">

      <h1>{% trans "Welcome" %}.</h1>
{% if hostid %}
      <p>{% trans "Your hostid is" %} <strong>{{ hostid }}</strong>. {% trans "Network access valid until" %} {{ internet_access }}.</p>
{% endif %}
      <p>{% trans "Manage your contacts in the" %} <a href="{% url app.views.addressbook %}">{% trans "Addressbook" %}</a>.</p>

      <hr />

        <a href="" class="btn btn-{% btn_state netstat.dhcp '1' 'success' 'inverse' %}">{% trans "DHCP" %}</a>
        <a href="" class="btn btn-{% btn_state netstat.internet '1' 'success' 'inverse' %}">{% trans "Internet" %}</a>
        <a href="" class="btn btn-{% btn_state netstat.cjdns '1' 'success' 'inverse' %}">{% trans "cjdns" %}</a>
        <a href="" class="btn btn-{% btn_state netstat.cjdns_internet '1' 'success' 'inverse' %}">{% trans "Internet via cjdns" %}</a>

      <hr />

      <strong>{% trans "Connection info" %} {% trans "SIP phone" %}:</strong><br />
      <strong>{% trans "Username" %}:</strong> 100<br />
      <strong>{% trans "Password" %}:</strong> 100<br />
      <strong>{% trans "Domain/Server" %}:</strong> box<br />
      <br />

      <strong>{% trans "Connection info" %} {% trans "SSH access" %}:</strong><br />
      <strong>{% trans "Username" %}:</strong> root<br />
      <strong>{% trans "Password" %}:</strong> <span class="unveil">{{ root_password }}</span><br />
      <strong>{% trans "Server" %}:</strong> box<br />
      <br />

    </div> <!-- /container -->
{% endblock %}
