{% extends "base.html" %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>Passwörter</h1>

      <p>Passwörter setzen. Leerer Wert = Passwort ist nicht aktiv.</p>

<form method="post" class="form-horizontal">
{% csrf_token %}
<fieldset>

<legend>Passwörter</legend>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="webinterface_password">Webinterface</label>
  <div class="controls">
    <input id="webinterface_password" name="webinterface_password" type="password" placeholder="" class="input-xlarge" value="{{ webinterface_password|default_if_none:'' }}">
    <button id="set_webinterface_password" name="set_webinterface_password" class="btn btn-primary" value="1">Setzen</button>
    <p class="help-block">Passwort für das Webinterface http://box/</p>
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="mailbox_password">mail@box</label>
  <div class="controls">
    <input id="mailbox_password" name="mailbox_password" type="password" placeholder="" class="input-xlarge" value="{{ mailbox_password|default_if_none:'' }}">
    <button id="set_mailbox_password" name="set_mailbox_password" class="btn btn-primary" value="1">Setzen</button>
    <p class="help-block">Passwort für das Mailkonto mail@box</p>
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="webmail_password">Webmail</label>
  <div class="controls">
    <input id="webmail_password" name="webmail_password" type="password" placeholder="" class="input-xlarge" value="{{ webmail_password|default_if_none:'' }}">
    <button id="set_webmail_password" name="set_webmail_password" class="btn btn-primary" value="1">Setzen</button>
    <p class="help-block">Passwort für das Webmail http://mail.box/</p>
  </div>
</div>

</fieldset>
</form>

    </div> <!-- /container -->
{% endblock %}
