{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Firmware upgrade" %}</h1>

      <p>&nbsp;</p>

<form action="" method="post" class="form-horizontal">
{% csrf_token %}
    <fieldset>
        <legend>{% trans "Step 6: Start upgrade" %}</legend>
        <p>{% trans "The upgrade will last 15mins. The webinterface will be unreachable during this process." %}</p>
        <p>&nbsp;</p>
        <button id="start_upgrade" name="start_upgrade" value="1" class="btn btn-default btn-blink">{% trans "Start upgrade" %}</button>
    </fieldset>
</form>

    </div> <!-- /container -->
{% endblock %}
